## Deliverable 3. Create a Travel Itinerary Map.

In [94]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [95]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Tateyama,JP,70.00,broken clouds,34.98,139.87,Tateyama Seaside Hotel
1,2,Cape Town,ZA,64.99,broken clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
2,28,Jiaozhou,CN,68.00,clear sky,36.28,120.00,Sheraton Qingdao Jiaozhou Hotel
3,32,Fukue,JP,68.00,broken clouds,32.69,128.84,Goto Guesthouse Utojuku & SA Car Rental
4,36,Muisne,EC,74.30,overcast clouds,0.60,-80.03,Quinta Samay

In [96]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [97]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [98]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="East London"]
vacation_end = vacation_df.loc[vacation_df["City"]=="East London"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Port Alfred"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Oudtshoorn"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Saldanha"]

In [144]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start[["Lat", "Lng"]].to_numpy())
end = (vacation_end[["Lat", "Lng"]].to_numpy())
stop1 = (vacation_stop1[["Lat", "Lng"]].to_numpy())
stop2 = (vacation_stop2[["Lat", "Lng"]].to_numpy())
stop3 = (vacation_stop3[["Lat", "Lng"]].to_numpy())
start = tuple(start[0])
end = tuple(end[0])
stop1 = tuple(stop1[0])
stop2 = tuple(stop2[0])
stop3 = tuple(stop3[0])

In [147]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
direction_layer = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [148]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,214,East London,ZA,68.00,few clouds,-33.02,27.91,Tu Casa
1,166,Port Alfred,ZA,71.08,overcast clouds,-33.59,26.89,The Halyards Hotel
2,327,Oudtshoorn,ZA,68.00,few clouds,-33.59,22.20,Earthbound Guest House
3,181,Saldanha,ZA,60.80,clear sky,-33.01,17.94,Blue Bay Lodge

In [149]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [150]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))